<form class="product-form">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Coffee Name</mat-label>
    <input matInput [formField]="productForm.name" placeholder="Enter coffee name" />
    <app-form-error [control]="productForm.name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Price</mat-label>
    <input matInput type="number" [formField]="productForm.price" placeholder="0.00" step="0.01" />
    <app-form-error [control]="productForm.price" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [formField]="productForm.description"
      placeholder="Enter product description"
      rows="4"
    ></textarea>
    <app-form-error [control]="productForm.description" />
  </mat-form-field>

  <div class="form-actions">
    <!-- <button mat-raised-button type="button">Cancel</button> -->
    <button
      [disabled]="!productForm().valid()"
      mat-raised-button
      color="primary"
      type="button"
      (click)="submitForm()"
    >
      Save Coffee
    </button>
  </div>
</form>
